.about {
    padding-bottom: 16rem;

    @media screen and (max-width:$large_tablet) {
        padding-bottom: 8rem;
    }

    .line {
        width: 33rem;

        @media screen and (max-width:$large_tablet) {
            width: 12rem;
        }
    }

    &__title {
        text-align: center;
    }

    &__wrap {
        display: flex;
        align-items: center;

        @media screen and (max-width:$large_tablet) {
            flex-direction: column;
        }
    }

    &__left {
        width: calc(100% - 80rem - 9rem);
        margin-right: 9rem;

        @media screen and (max-width:$large_tablet) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 3rem;
        }

        &-title {
            font-weight: 500;
            font-size: 5.6rem;
            letter-spacing: 0.02em;
            margin-bottom: 4rem;
            font-family: $secondary-f;

            @media screen and (max-width:$large_tablet) {
                font-size: 3rem;
                margin-bottom: 2rem;
            }
        }
    }

    &__right {
        max-width: 80rem;
        width: 100%;
        position: relative;

        @media screen and (max-width:$large_tablet) {
            max-width: 100%;
            padding-bottom: 2rem;
        }

        &-img {
            width: 100%;
            border-radius: calc(#{$br} * 4);
            overflow: hidden;

            >div {
                position: relative;
                padding-bottom: 69.38%;

                img {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &-text {
            position: absolute;
            bottom: 2.5rem;
            left: -4.5rem;
            max-width: 42.5rem;
            width: 100%;
            background: #F6F6F6;
            padding: 3rem;
            font-style: italic;
            font-weight: 500;
            line-height: 150%;
            color: $secondary-c;

            @media screen and (max-width:$large_tablet) {
                left: 0;
                bottom: 0rem;
                max-width: 80%;
                margin: 0 auto;
                right: 0;
                padding: 1.2rem;
                font-size: 1.2rem;
            }

            &::before {
                content: '';
                position: absolute;
                bottom: calc(100% - 2rem);
                left: calc(100% - 2rem);
                width: 4rem;
                height: 4rem;
                background-image: url('~img/svg/about-quotes.svg');
                background-repeat: no-repeat;
                background-size: contain;

                @media screen and (max-width:$large_tablet) {
                    width: 2rem;
                    height: 2rem;
                    bottom: calc(100% - 1rem);
                    left: calc(100% - 1rem);
                }
            }

        }
    }
}