.advantages {
	padding-top: 12rem;
	padding-bottom: 23rem;

	@media screen and (max-width: $large_tablet) {
		padding: 6rem 0;
	}

	&__title {
		margin-bottom: 4rem;

		@media screen and (max-width: $large_tablet) {
			margin-bottom: 3rem;
		}
	}

	&__wrap {
		max-width: 140rem;
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding-left: 12%;

		@media screen and (max-width: $large_tablet) {
			flex-direction: column;
			padding-left: 0;
		}
	}

	&__item {
		width: calc((100% - 6rem * 2) / 3);

		@media screen and (max-width: $large_tablet) {
			width: 100%;
		}

		&+.advantages__item {
			@media screen and (max-width:$large_tablet) {
				margin-top: 4rem;
			}

		}

		&-top {
			position: relative;
			margin-bottom: 2rem;
			display: inline-block;
		}

		&-number {
			font-family: $secondary-f;
			font-weight: bold;
			font-size: 20rem;
			color: #fff;
			-webkit-text-stroke: 2px rgba(101, 112, 129, 0.2);

			@media screen and (max-width: $large_tablet) {
				font-size: 10rem;
			}
		}

		&-title {
			font-family: $secondary-f;
			font-weight: 600;
			font-size: 4rem;
			letter-spacing: 0.02em;
			position: absolute;
			left: 4rem;
			top: 50%;
			transform: translateY(-50%);

			@media screen and (max-width: $large_tablet) {
				font-size: 2rem;
				left: 2rem;
			}

			&--right {
				left: 100%;
				transform: translate(-50%, -50%);
			}
		}

		&-text {
			line-height: 150%;
			margin-bottom: 2.4rem;
			font-size: 1.6rem;

			@media screen and (max-width: $large_tablet) {
				font-size: 1.4rem;
			}
		}

		&-bottom {
			padding-left: 6rem;

			@media screen and (max-width: $large_tablet) {
				padding-left: 0;
			}
		}

		&-img {
			width: 100%;
			overflow: hidden;
			border-radius: calc(#{$br * 4});

			>div {
				position: relative;
				padding-bottom: 113.63%;

				@media screen and (max-width: $large_tablet) {
					padding-bottom: 67.63%;
				}

				img {
					position: absolute;
					top: 0px;
					left: 0px;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}

		// &--2 {
		// 	// margin-top: 20rem;

		// 	@media screen and (max-width: $large_tablet) {
		// 		margin-top: 4rem;
		// 	}
		// }

		// &--3 {
		// 	// margin-top: 5rem;

		// 	@media screen and (max-width: $large_tablet) {
		// 		margin-top: 4rem;
		// 	}
		// }
	}
}