.btn {
	border: none;
	cursor: pointer;
	text-decoration: none;
	// line-height: 5.7rem;
	display: inline-block;
	white-space: nowrap;
	background: inherit;
	transition: all 0.5s;
	display: flex;
	align-items: center;

	&:hover {
		.btn__title::before {
			opacity: 0;
			width: 0;
		}

		.btn__arrow {
			svg {
				transform: translateX(3px);
			}
		}
	}

	&__title {
		position: relative;
		font-family: $additional-f;
		font-weight: 800;
		font-size: 1.2rem;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #323841;
		margin-right: 1.5rem;

		&::before {
			content: "";
			position: absolute;
			right: 0px;
			bottom: -1rem;
			width: 100%;
			height: 2px;
			background: $danger;
			opacity: 1;
			transition: opacity .5s, width .5s;
		}
	}

	&__arrow {
		width: 5.6rem;
		height: 5.6rem;
		background-color: $danger;
		display: flex;
		align-items: center;
		justify-content: center;

		@media screen and (max-width:$large_tablet) {
			width: 4rem;
			height: 4rem;
		}

		svg {
			width: 1.8rem;
			fill: #fff;
			will-change: transform;
			transition: transform .5s;

			@media screen and (max-width:$large_tablet) {
				width: 1.2rem;
			}
		}
	}
}