.header {
	padding-top: 4.5rem;
	position: absolute;
	top: 0px;
	width: 100%;
	opacity: 0;
	z-index: 2;
	animation: header-opacity 1s;
	animation-fill-mode: forwards !important;
	pointer-events: none;

	&--black {
		.header__nav-link,
		.header__phone {
			color: #ffffff;
		}
	}

	@media screen and (max-width: $large_tablet) {
		padding-top: 1rem;
	}

	&--fixed {
		position: fixed;
		opacity: 1;
		width: 100%;
		top: 0px;
		left: 0px;
		overflow: hidden;
		transform: translate(0, -100%);
		animation: header-height 0.5s !important;
		animation-fill-mode: forwards !important;
		z-index: 98;
		pointer-events: none;

		@media screen and (max-width: $large_tablet) {
			background-color: #fff;
			padding-bottom: 1rem;
			box-shadow: 0px 1px 36px 13px rgba(21, 21, 21, 0.03);
		}

		.header__logo {
			display: none;

			@media screen and (max-width: $large_tablet) {
				display: block;
			}
		}
	}

	&--height0 {
		transform: translate(0, 0);
		animation: header-height0 0.5s !important;
	}

	@keyframes header-height {
		100% {
			transform: translate(0, 0);
		}
	}

	@keyframes header-height0 {
		100% {
			transform: translate(0, -100%);
		}
	}

	@keyframes header-opacity {
		100% {
			opacity: 1;
		}
	}

	&__wrap {
		display: flex;
		align-items: flex-start;
		padding-left: 12rem;
		padding-right: 4.5rem;

		@media screen and (max-width: $large_tablet) {
			align-items: center;
			padding-left: 15px;
			padding-right: 15px;
			max-width: $large_mobile;
			margin: 0 auto;
		}
	}

	&__right {
		margin-left: auto;
		pointer-events: auto;

		@media screen and (max-width: $large_tablet) {
			display: flex;
			align-items: center;
		}
	}

	&__logo {
		padding-top: 0.5rem;
		pointer-events: auto;

		@media screen and (max-width: $large_tablet) {
			padding-top: 0;
			max-width: 18rem;
		}
	}

	&__nav {
		margin-bottom: 1.5rem;

		@media screen and (max-width: $large_tablet) {
			display: none;
		}

		&-list {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			padding-left: calc(1.2rem + 1.8rem);
		}

		&-item {
			margin-bottom: 1.5rem;
			font-weight: 500;
			line-height: 19/16 * 1;
			text-transform: uppercase;
			font-family: $secondary-f;
			position: relative;

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: calc(100% + 1.2rem);
				width: 1.8rem;
				height: 1.8rem;
				background-image: url('~img/svg/header-arrow.svg');
				background-repeat: no-repeat;
				background-size: contain;
				opacity: 0;
				visibility: hidden;
				transition: opacity 0.5s, visibility 0.5s;
				pointer-events: none;
				will-change: transform;
			}

			&:hover {
				color: $danger-light;

				&::before {
					opacity: 1;
					visibility: visible;
				}
			}

			&:last-child {
				margin-bottom: 0px;
			}
		}

		&-link {
			position: relative;
			transition: color 0.5s;

			span {
				font-size: 1.2rem;
				line-height: 14/12 * 1;
				letter-spacing: 0.04em;
				text-transform: uppercase;
				color: $danger;
				position: absolute;
				left: 100%;
				bottom: calc(100% - 0.5rem);
			}
		}
	}

	&__phone {
		display: flex;
		align-items: center;
		color: #404c63;
		font-weight: 600;
		text-transform: uppercase;
		font-family: $secondary-f;
		transition: color 0.5s;

		@media screen and (max-width: $large_tablet) {
			display: none;
		}

		&--mobile {
			display: none;

			svg {
				fill: $danger;
				width: 1.5rem;
			}

			@media screen and (max-width: $large_tablet) {
				display: block;
				display: flex;
				align-items: center;
				margin-right: 1rem;
			}
		}

		svg {
			margin-right: 1.3rem;
			fill: $danger;
			width: 1.8rem;
		}

		a {
			position: relative;
			will-change: transform;

			&::before {
				content: '';
				position: absolute;
				left: 0px;
				bottom: -2px;
				width: 100%;
				height: 1px;
				background: #404c63;
				transform: scaleX(0);
				transition: transform 0.5s;
			}

			&:hover::before {
				transform: scaleX(1);
			}
		}
	}

	&__burger {
		display: none;
		flex-direction: column;
		align-items: flex-start;
		width: 35px;
		padding: 5px;
		cursor: pointer;

		@media screen and (max-width: $large_tablet) {
			display: flex;
		}

		&:hover div {
			border-bottom-color: $secondary-c;
		}

		div {
			margin-bottom: 5px;
			width: 100%;
			border-bottom: 2px solid $primary-c;
			transition: border-bottom-color 0.5s;

			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
}
