.history {
    padding: 12rem 0;
    background: linear-gradient(180deg, #F6F6F6 41.61%, #F6F6F6 41.61%, rgba(246, 246, 246, 0.97) 100%);
    overflow-x: hidden;
    position: relative;

    @media screen and (max-width:$large_tablet) {
        padding: 6rem 0;
    }

    &__line {
        height: 22.5rem;
        width: 19.3%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 80%;

        &--center {
            left: auto;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 30rem;
            width: 35%;
        }

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__wrap {
        padding-left: 12rem;
        display: flex;

        @media screen and (max-width:$large_tablet) {
            padding-left: 0;
            flex-direction: column;
        }
    }

    &__right {
        width: calc(100% - 38.5rem - 12.5rem);
        margin-left: 12.5rem;
        position: relative;

        @media screen and (max-width:$large_tablet) {
            width: 100%;
            margin-left: 0;
        }
    }

    &__left {
        padding-top: 10.9%;
        max-width: 38.5rem;
        width: 100%;
        position: relative;
        z-index: 2;

        @media screen and (max-width:$large_desktop) {
            padding-top: 9.5%;
        }

        @media screen and (max-width:$large_tablet) {
            padding-top: 0;
            max-width: $large_mobile;
            padding: 0 15px;
            margin: 0 auto;
            margin-bottom: 5rem;
        }
    }

    .swiper-button {
        display: inline-flex;
        align-items: center;
        margin: 3rem 0;
        position: relative;
        padding: 0 3rem;
        margin-left: -3rem;
        background: linear-gradient(180deg, #F6F6F6 41.61%, #F6F6F6 41.61%, rgba(246, 246, 246, 0.97) 100%);

        @media screen and (max-width:$large_tablet) {
            margin: 2rem 0;
            padding: 0;
        }

        // &__line {
        //     height: 1px;
        //     background: linear-gradient(0deg, rgba(196, 196, 196, 0.5), rgba(196, 196, 196, 0.5)), rgba(196, 196, 196, 0.5);
        //     width: 100%;
        //     position: absolute;
        //     top: calc(50% - 0.5px);
        //     left: 100%;

        //     &::before {
        //         content: '';
        //         position: absolute;
        //         top: 0;
        //         left: 100%;
        //         height: inherit;
        //         background-color: inherit;
        //         width: 1000%;
        //     }
        // }

        // &::after {
        //     content: '';
        //     height: 1px;
        //     background: linear-gradient(0deg, rgba(196, 196, 196, 0.5), rgba(196, 196, 196, 0.5)), rgba(196, 196, 196, 0.5);
        //     width: 100%;
        //     position: absolute;
        //     top: calc(50% - 0.5px);
        //     right: 100%;
        // }


    }

    .slider-btn--prev {
        margin-right: 1.6rem;
    }

    .swiper-container {
        padding-left: 1rem;
        margin-left: -1rem;

        @media screen and (max-width:$large_tablet) {
            margin-left: 0;
        }
    }
}