.inputs {
    width: 100%;
    font-weight: 500;


    &__field {
        width: 100%;
        padding-top: 1.2rem;
        padding-right: 1rem;
        border: none;
        background-color: inherit;
        line-height: 4.5rem;
        -webkit-appearance: none;
        -moz-appearance: textfield;
        font-size: 1.8rem;
        letter-spacing: 0.02em;
        color: #323841;
        font-family: $additional-f;

        @media screen and (max-width:$large_tablet) {
            font-size: 1.6rem;
            line-height: 4rem;
        }

        &[type='text'] {
            text-transform: capitalize;
        }

        &-wrap {
            width: 100%;
            position: relative;
            overflow: hidden;
            margin-bottom: 2rem;

            &--textarea {
                margin-bottom: 5rem;
                position: relative;

                @media screen and (max-width:$large_tablet) {
                    margin-bottom: 3rem;
                }

                .inputs__field {
                    resize: none;
                    border-bottom: 1.5px solid #C4C4C4;
                    line-height: 1.5;
                    min-height: 17rem;
                    transition: all .5s;

                    @media screen and (max-width:$large_tablet) {
                        min-height: 10rem;
                    }

                    &::placeholder {
                        font-weight: 500;
                        font-size: 1.8rem;
                        letter-spacing: 0.02em;
                        color: #323841;

                        @media screen and (max-width:$large_tablet) {
                            font-size: 1.6rem;
                        }
                    }

                    &::-webkit-scrollbar-thumb {
                        background: $secondary-c !important;
                        border-radius: 10rem;
                    }

                    &::-webkit-scrollbar {
                        width: 0.5rem;
                    }

                    &::-webkit-scrollbar-track {
                        border-radius: 10rem;
                        background: $primary-c;
                    }

                    &:focus {
                        border-bottom: 1px solid #323841;

                        &+.inputs__field-placeholder {
                            opacity: 0;
                        }
                    }
                }

            }
        }

        input:valid:not(:placeholder-shown) {
            border-color: green;
        }

        &:focus {
            outline: none;
        }

        &:focus+.inputs__label .inputs__content,
        &:valid+.inputs__label .inputs__content,
        &:invalid.inputs__field--invalid+.inputs__label .inputs__content {
            top: 0;
            font-weight: 500;
            font-size: 0.8rem;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: $danger;
        }

        &:focus+.inputs__label .inputs__content:before,
        &:valid+.inputs__label .inputs__content:before,
        &:invalid.inputs__field--invalid+.inputs__label .inputs__content::before {
            opacity: 0;
        }

        &:focus+.inputs__label::after,
        &:valid+.inputs__label::after {
            right: 0;
            border-bottom-color: #323841;
        }

        &:invalid.inputs__field--invalid+.inputs__label::after {
            right: 0;
            border-bottom-color: $danger;
        }

        &:invalid.inputs__field--invalid {
            color: $danger;

            &+.inputs__label .inputs__content {
                color: $danger;

                &::before {
                    color: $danger;
                }
            }
        }
    }

    &__label {
        position: absolute;
        bottom: 1px;
        left: 0px;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-bottom: 1.5px solid #C4C4C4;

        &::after {
            content: "";
            position: absolute;
            bottom: -1px;
            right: 100%;
            width: 100%;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            transition: right 0.5s ease;
        }
    }

    &__content {
        position: absolute;
        top: 1.2rem;
        left: 0px;
        transition: all 0.3s ease;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 178%;
        letter-spacing: 0.02em;
        color: #323841;
        font-family: $additional-f;

        @media screen and (max-width:$large_tablet) {
            font-size: 1.6rem;
        }
    }

    &__btn {
        .btn {
            margin-left: auto;
        }
    }
}