.library {
	padding-bottom: calc(23rem + 7.5rem);

	.pin-spacer {
		z-index: 0;
	}

	@media screen and (min-width: $large_tablet) {
		padding-bottom: 23rem;
	}

	@media screen and (max-width: $large_tablet) {
		padding-bottom: 6rem;
	}

	&__content {
		position: relative;
		padding-top: 14rem;
		padding-bottom: 14.5rem;
		text-align: center;

		@media screen and (max-width: $large_tablet) {
			padding-top: 10rem;
			padding-bottom: 6rem;
		}
	}

	&__subtitle {
		font-weight: 500;
		font-size: 1.8rem;
		line-height: 22/18 * 1;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: $danger;
		margin-bottom: 1.5rem;
		z-index: 2;
		position: relative;

		@media screen and (max-width: $large_tablet) {
			font-size: 1.6rem;
		}
	}

	&__wrap {
		display: flex;
		align-items: flex-end;
		padding-right: 26rem;
		padding-left: 4rem;

		@media screen and (max-width: $large_tablet) {
			padding-left: 15px;
			padding-right: 15px;
			max-width: $large_mobile;
			margin: 0 auto;
			flex-direction: column;
		}
	}

	&__left {
		max-width: 117rem;
		width: 100%;
		border-radius:calc(#{$br * 4});
		overflow: hidden;

		@media screen and (max-width: $large_tablet) {
			max-width: 100%;
			border-radius: calc(#{$br * 4});
			margin-bottom: 4rem;
		}
	}

	&__right {
		margin-left: -5rem;
		margin-bottom: -23rem;
		position: relative;
		max-width: 54rem;
		width: 100%;

		.line {
			height: 55rem;
			transform: translateX(50%);
			right: 100%;
			top: -35%;
			left: auto;
			width: 65%;
			z-index: -1;
		}

		@media screen and (max-width: $large_tablet) {
			margin-bottom: 0;
			max-width: 100%;
		}
	}

	&__video {
		width: 100%;
		border-radius: calc(#{$br * 4});
		overflow: hidden;
		position: relative;
		z-index: 6;

		>div:not(.video) {
			position: relative;
			padding-bottom: 65.92%;

			img,
			video {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	&__img {
		width: 100%;
		position: relative;
		z-index: 4;

		>div {
			position: relative;
			padding-bottom: 58.97%;

			img {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}