.main-screen {
	padding-bottom: 8rem;
	position: relative;
	overflow: hidden;

	@media screen and (max-width: $large_tablet) {
		padding-bottom: 4rem;
	}

	.line {
		background-image: url('~img/svg/line1.svg');
		width: 24.7%;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg,
				#f6f6f6 41.61%,
				#f6f6f6 41.61%,
				rgba(246, 246, 246, 0.97) 100%);
		z-index: 1;
	}

	&__bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.title-line {
		padding-bottom: 3rem;
	}

	&__title {
		margin-bottom: 3rem;
		text-align: center;

		@media screen and (max-width: $large_tablet) {
			margin-bottom: 1.5rem;
		}
	}

	&__text {
		font-family: $secondary-f;
		font-weight: 200;
		font-size: 7.2rem;
		line-height: 111%;
		text-align: center;
		max-width: 96rem;
		width: 100%;
		margin: 0 auto;
		position: relative;
		z-index: 2;

		@media screen and (max-width: $large_tablet) {
			font-size: 2.5rem;
		}

		&+.line {}
	}

	&__body {
		position: relative;
		z-index: 2;

		@media screen and (max-width: $large_tablet) {
			max-width: $large_mobile;
			margin: 0 auto;
			padding: 0 15px;
		}
	}

	&__top {
		// margin-bottom: 4rem;
		max-width: calc(119rem + 30px);
		margin: 0 auto 4rem;
		padding: 0 15px;

		@media screen and (max-width: $large_tablet) {
			padding: 0;
			margin: 0 auto 2rem;
		}

		&-img {
			width: 100%;
			border-radius: calc(#{$br} * 4);
			overflow: hidden;
			margin: 0 auto;

			>div {
				position: relative;
				padding-bottom: 58.8%;

				@media screen and (max-width: $large_tablet) {
					padding-bottom: 50%;
				}

				img {
					position: absolute;
					top: 0px;
					left: 0px;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}

	&__bottom {
		position: relative;
		display: flex;
		align-items: flex-start;
		padding: 0 3rem;

		@media screen and (max-width: $large_tablet) {
			// flex-direction: column;
		}

		&-img {
			border-radius: calc(#{$br} * 4);
			overflow: hidden;
			width: 100%;

			>div {
				position: relative;

				img {
					position: absolute;
					top: 0px;
					left: 0px;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			&--left {
				max-width: 71.5rem;
				// margin-left: -15rem;
				padding-top: 6rem;

				@media screen and (max-width: $large_tablet) {
					width: calc(60% - 0.5rem);
					margin-left: 0;
					padding-top: 0;
				}

				>div {
					padding-bottom: 66.8%;

					@media screen and (max-width: $large_tablet) {
						padding-bottom: 50%;
					}
				}
			}

			&--center {
				max-width: 56.5rem;
				margin-left: auto;
				margin-right: -7rem;

				@media screen and (max-width: $large_tablet) {
					margin-right: 0;
					width: calc(40% - 0.5rem);
				}

				>div {
					padding-bottom: 68.9%;

					@media screen and (max-width: $large_tablet) {
						padding-bottom: 50%;
					}
				}
			}

			&--right {
				max-width: 36.6rem;
				// margin-right: -4rem;
				margin-top: auto;

				@media screen and (max-width: $large_tablet) {
					display: none;
				}

				>div {
					padding-bottom: 85.5%;

					@media screen and (max-width: $large_tablet) {
						padding-bottom: 50%;
					}
				}
			}
		}
	}
}