.map {
    position: relative;

    .line {
        width: 24.6%;
    }

    &__content {
        position: relative;
        text-align: center;
        padding-top: 17.5rem;
        padding-bottom: 14.5rem;

        @media screen and (max-width:$large_tablet) {
            padding-top: 10rem;
            padding-bottom: 5rem;
        }
    }

    &__body {
        width: 100%;
        position: relative;

        >div {
            position: relative;
            padding-bottom: 39.27%;

            @media screen and (max-width:$large_mobile) {
                padding-bottom: 51%;
            }

            iframe {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}