.mobile-menu {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	bottom: 0px;
	z-index: 102;
	overflow: hidden;
	background: rgba(111, 111, 111, 0.75);
	display: none;
	transition: all 0.5s;
	opacity: 0;
	touch-action: none;

	&--active {
		display: flex;
	}

	&--opacity0 {
		opacity: 0;
	}

	&--opacity1 {
		opacity: 1;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 1.5rem;
		padding-top: 1.5rem;
	}

	&__logo {
		max-width: 16rem;
	}

	&__wrap {
		background: #fff;
		width: 300px;
		height: 100%;
		position: absolute;
		left: -300px;
		transition: left 0.5s;
		display: flex;
		flex-direction: column;
		overflow-y: auto;

		&--left0 {
			left: 0px;
		}

		&--left300 {
			left: -300px;
		}
	}

	&__phones {
		font-family: $secondary-f;
		margin-top: auto;
		text-align: center;
		padding: 1rem 0;
		font-weight: 500;
		font-size: 2rem;
	}

	&__act {
		height: 4rem;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 4rem;
	}

	&__nav {
		position: relative;
		padding: 0 1.5rem;
		padding-top: 1rem;

		&-list {
			display: flex;
			flex-direction: column;
			list-style: none;
		}

		&-item {
			margin-bottom: 2rem;

			&:last-child {
				margin-bottom: 0;

				a {
					border-bottom: none;
				}
			}
		}

		&-link {
			text-decoration: none;
			font-weight: 500;
			line-height: 1.1875;
			text-transform: uppercase;
			font-family: $secondary-f;
			font-size: 2rem;
		}
	}
}