.our-projects {
	padding-top: 15.5rem;
	padding-bottom: 12rem;

	@media screen and (max-width: $large_tablet) {
		padding: 6rem 0;
	}

	&__title {
		margin-bottom: 8.5rem;

		@media screen and (max-width: $large_tablet) {
			margin-bottom: 5rem;
		}
	}

	&__wrap {
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: $large_tablet) {
			flex-direction: column;
			position: relative;
		}
	}

	&__scroll {
		margin-top: 12rem;

		@media screen and (max-width: $large_tablet) {
			display: none;
		}
	}

	&__left {
		max-width: 66rem;
		width: 100%;
		position: relative;

		.line {
			transform: translateX(0);
			width: 53%;
			height: 44rem;
			top: 11%;
			left: 0;
			z-index: -1;
		}

		@media screen and (max-width: $large_tablet) {
			max-width: 100%;
		}
	}

	&__right {
		max-width: 64rem;
		width: 100%;
		padding-top: 9rem;
		display: flex;
		flex-direction: column;

		@media screen and (max-width: $large_tablet) {
			max-width: 100%;
			padding-top: 0;
		}
	}

	&__img {
		width: 100%;
		position: relative;

		>div {
			position: relative;
			padding-bottom: 65.96%;

			transition: 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) transform;

			img {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	&__object {
		position: absolute;
		bottom: 0;
		right: 0;
		background: #ffffff;
		border-radius: calc(#{$br * 4}) 0px 0px 0px;
		width: 90%;
		padding: 4rem 6rem 5rem 3rem;
		transform: translateY(100%);
		transition: transform 0.5s;
		z-index: 3;
		pointer-events: none;

		@media screen and (max-width: $large_tablet) {
			padding: 2rem 4.2rem 4.2rem 2rem;
		}
	}

	&__box {
		width: 100%;
		position: relative;
		border-radius: calc(#{$br * 4});
		overflow: hidden;
		cursor: pointer;
		display: block;

		@media screen and (max-width: $large_tablet) {}

		&:hover {
			.our-projects__object {
				transform: translate(5px, 5px);
			}

			.our-projects__img {
				>div {
					transform: scale(1.08);
				}
			}
		}

		&--52 {
			max-width: 52rem;
			margin-left: auto;
			margin-bottom: 10rem;

			@media screen and (max-width: $large_tablet) {
				margin-bottom: 4rem;
			}

			.our-projects__img {
				>div {
					padding-bottom: 100.96%;
				}
			}
		}

		&--56 {
			max-width: 56rem;

			.our-projects__img {
				>div {
					padding-bottom: 114.28%;

					@media screen and (max-width: $large_tablet) {
						padding-bottom: 100.96%;
					}
				}
			}
		}

		&--59 {
			max-width: 59rem;
			margin-left: auto;
			margin-bottom: 8rem;

			@media screen and (max-width: $large_tablet) {
				margin-bottom: 4rem;
			}

			.our-projects__img {
				>div {
					padding-bottom: 89.43%;

					@media screen and (max-width: $large_tablet) {
						padding-bottom: 100.96%;
					}
				}
			}
		}

		&--66 {
			max-width: 66rem;

			@media screen and (max-width: $large_tablet) {
				margin-bottom: 4rem;
			}

			.our-projects__img {
				>div {
					padding-bottom: 120.9%;

					@media screen and (max-width: $large_tablet) {
						padding-bottom: 100.96%;
					}
				}
			}
		}
	}

	&__btn {
		padding: 0 3.2rem;
		line-height: 5.6rem;
		display: inline-flex;
		align-items: center;
		background: $danger;
		border-radius: calc(#{$br} * 2);
		margin-left: auto;
		margin-right: 12.5%;
		margin-top: 4rem;

		@media screen and (max-width: $large_tablet) {
			margin-right: 0;
			line-height: 4.6rem;
			padding: 0 2rem;
		}

		&:hover {
			svg {
				transform: translateX(3px);
			}
		}

		&-title {
			font-family: $secondary-f;
			font-weight: 500;
			text-transform: uppercase;
			color: #ffffff;
		}

		svg {
			width: 3rem;
			fill: #fff;
			margin-left: 1.4rem;
			transition: transform 0.5s;
			will-change: transform;

			@media screen and (max-width: $large_tablet) {
				width: 2rem;
			}
		}
	}
}