// .img-parallax {
// 	overflow: hidden;
// }

.img-parallax {
	position: relative;
	overflow: hidden;

	[data-animation-type='img'] {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
	}

	.bg {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 145%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		.grid & {
			height: 140%;
		}

		.video__img & {
			height: 130%;
		}
	}
}