.services {
    padding-top: 24.5rem;
    padding-bottom: 18rem;
    position: relative;

    @media screen and (max-width:$large_tablet) {
        padding-top: 12rem;
        padding-bottom: 10rem;
    }

    .line {
        height: 55rem;
        width: 18.4%;
        left: 0;
        transform: translateX(0);
        top: 27%;
        z-index: -1;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @media screen and (max-width:$large_tablet) {
            flex-direction: column;
        }
    }

    &__content {
        margin-bottom: 24rem;
        transform: translateX(15%);

        @media screen and (max-width:$large_tablet) {
            margin-bottom: 0;
            transform: translateX(0);
            margin-bottom: 4rem;
        }
    }

    &__text {
        max-width: 57rem;
        width: 100%;

    }

    &__title {
        margin-bottom: 7rem;
    }

    &__left {
        width: calc(42% - 4rem);

        @media screen and (max-width:$large_tablet) {
            width: 100%;
            margin-bottom: 4rem;
        }
    }

    &__columns {
        width: calc(58% - 4rem);

        @media screen and (max-width:$large_tablet) {
            width: 100%;
        }

        &-top {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 8rem;

            @media screen and (max-width:$large_tablet) {
                margin-bottom: 4rem;
                align-items: center;
            }
        }

        &-center {
            margin-bottom: 8rem;

            @media screen and (max-width:$large_tablet) {
                margin-bottom: 4rem;
            }
        }

        &-bottom {
            position: relative;

            .line {
                height: 58rem;
                top: auto;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &-left,
        &-right {
            width: calc(50% - 4rem);

            @media screen and (max-width:$large_tablet) {
                width: calc(50% - 2rem);
            }
        }
    }

    &__box {
        margin-bottom: 8rem;
        border-radius: calc(#{$br * 4});
        overflow: hidden;
        position: relative;
        display: block;
        z-index: 3;

        @media screen and (max-width:$large_tablet) {
            margin-bottom: 4rem;
        }

        &:hover {
            .services__box-title {
                &::before {
                    width: 100%;
                    opacity: 1;
                }
            }

            .services__img::before {
                opacity: 0;
            }
        }

        &:last-child {
            margin-bottom: 0px;
        }

        &-title {
            position: absolute;
            left: 4rem;
            bottom: 4rem;
            font-weight: 600;
            font-size: 4rem;
            color: #FFFFFF;
            font-family: $secondary-f;
            z-index: 4;
            display: inline-block;
            padding-right: 1rem;

            @media screen and (max-width:$large_tablet) {
                left: 2rem;
                bottom: 2rem;
                font-size: 2.2rem;
            }

            &::before {
                content: "";
                position: absolute;
                left: 0px;
                bottom: -2px;
                width: 0%;
                height: 2px;
                background: #fff;
                opacity: 0;
                transition: opacity .5s, width .5s;

                @media screen and (max-width:$large_tablet) {
                    display: none;
                }
            }
        }
    }

    &__img {
        width: 100%;
        border-radius: calc(#{$br * 4});
        overflow: hidden;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(39, 36, 37, 0) 0%, rgba(39, 36, 37, 0.4) 100%);
            z-index: 2;
            transition: opacity .5s;
        }

        >div {
            position: relative;
            padding-bottom: 133.82%;

            img {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &--pb67 {
            max-width: 71rem;

            >div {
                padding-bottom: 67.6%;
            }
        }

        &--pb75 {
            max-width: 40rem;

            >div {
                padding-bottom: 75%;
            }
        }

        &--pb101 {
            >div {
                padding-bottom: 101.33%;
            }
        }

        &--pb103 {
            >div {
                padding-bottom: 103.46%;
            }
        }

        &--pb200 {
            >div {
                padding-bottom: 200.26%;
            }
        }
    }
}