.unikalny-projects {
	background: #ffffff;
	padding-bottom: 3rem;

	@media screen and (max-width: $large_tablet) {
		padding-bottom: 1.5rem;
	}

    .line {
        z-index: initial;
        opacity: initial;
        height: 115%;
    }

	.content {
		font-size: 2.1rem;
		line-height: 152%;

		@media screen and (max-width: $large_tablet) {
			font-size: 1.6rem;
		}
	}

	.title-line {
		padding-top: 9rem;
		padding-bottom: 9.5rem;

		@media screen and (max-width: $large_tablet) {
			padding-top: 5rem;
			padding-bottom: 5rem;
		}
	}

	&__title {
		max-width: 77.5rem;
		width: 100%;
		margin: 0 auto 2rem;

		@media screen and (max-width: $large_tablet) {
			max-width: 35rem;
		}
	}

	&__subtitle {
		margin-bottom: 4rem;

		// &::before {
		// 	background-color: #d74346;
		//   animation: unikalnyRedLine duration timing-function delay iteration-count direction fill-mode;
		// }

		// @keyframes unikalnyRedLine {
		//   from:
		// }

		@media screen and (max-width: $large_tablet) {
			margin-bottom: 2rem;
		}
	}

	&__text {
		position: relative;
		z-index: 2;
		max-width: 57.5rem;
		width: 100%;
		margin: 0 auto;
	}
}
