section.about
    .center-wrap 
        .title-line
            .about__title
              .oh-row
                h2.oh.simple-title Про компанію
            span.line
    .wrap
        .about__wrap 
            .about__left
              .oh-row
                h3.oh.about__left-title Про нас
              .about__left-text.content
                    p Lorem Ipsum є псевдо- латинський текст використовується у веб - дизайні, типографіка, верстка, і друку замість англійської підкреслити елементи дизайну над змістом. Це також називається заповнювач ( або наповнювач) текст. Це зручний інструмент для макетів. Це допомагає намітити візуальні елементи в документ або презентацію, наприклад, друкарня, шрифт, або макет. 
            .about__right
                .about__right-img.img-parallax
                    div
                        img(src="assets/images/png/about-img.png" alt="")
                .about__right-text 
                    p Lorem Ipsum є псевдо- латинський текст використовується у веб - дизайні

