section.advantages
    .wrap
        h2.small-title.advantages__title 
            .oh-row 
                .oh Наші переваги
        .advantages__wrap 
            .advantages__item 
                .advantages__item-top
                    p.advantages__item-number 01
                    p.advantages__item-title Стабільність
                .advantages__item-bottom 
                    .advantages__item-text.content
                        p Lorem Ipsum є псевдо- латинський текст використовується у веб - дизайні, типографіка, верстка, і друку замість англійської підкреслити елементи дизайну над змістом.акет. 
                    .advantages__item-img
                        div
                            img(src="assets/images/png/advantages-img1.png" alt="")
            .advantages__item.advantages__item--2 
                .advantages__item-top
                    p.advantages__item-number 02
                    p.advantages__item-title Професіоналізм
                .advantages__item-bottom 
                    .advantages__item-text.content
                        p Lorem Ipsum є псевдо- латинський текст використовується у веб - дизайні, типографіка, верстка, і друку замість англійської підкреслити елементи дизайну над змістом.акет. 
                    .advantages__item-img
                        div
                            img(src="assets/images/png/advantages-img2.png" alt="")
            .advantages__item.advantages__item--3
                .advantages__item-top
                    p.advantages__item-number 03
                    p.advantages__item-title.advantages__item-title--right Якість
                .advantages__item-bottom 
                    .advantages__item-text.content
                        p Lorem Ipsum є псевдо- латинський текст використовується у веб - дизайні, типографіка, верстка, і друку замість англійської підкреслити елементи дизайну над змістом.акет. 
                    .advantages__item-img
                        div
                            img(src="assets/images/png/advantages-img3.png" alt="")