section.advantages-video
    .advantages-video__wrap
        span.line
        .advantages-video__img 
            div
                img(src="assets/images/png/advantages-video__img.png" alt="")
        a.video.fancybox(data-fancybox-type='iframe' href='https://www.youtube.com/embed/YRTrS7CJ3uM')
            .video__play
                svg(viewBox='0 0 23 31' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M22.4831 14.7759C23.0515 15.1741 23.0515 16.0159 22.4831 16.414L2.23696 30.5963C1.57421 31.0605 0.663224 30.5864 0.663224 29.7773L0.663225 1.41268C0.663225 0.603509 1.57421 0.129391 2.23696 0.593641L22.4831 14.7759Z')
                iframe.video__video(width='100%' height='100%' data-src='https://www.youtube.com/embed/YRTrS7CJ3uM?autoplay=1&mute=1&showinfo=0' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
    .advantages-video__bottom
        .advantages-video__item 
            .advantages-video__item-top
                svg.advantages-video__item-icon(viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                    g(clip-path='url(#clip0)')
                        path(d='M21.6051 5.44534H16.4361V3.3625C16.4361 2.37076 15.6293 1.56396 14.6375 1.56396H9.36014C8.3684 1.56396 7.56156 2.37076 7.56156 3.3625V5.44534H2.39262C1.07586 5.44534 0.00456911 6.51663 0.00456911 7.83338C0.00456911 9.02945 -0.117923 10.1036 0.788461 11.3116C1.30128 11.995 2.006 12.4826 2.82641 12.7214L10.7931 15.0409C11.5818 15.2705 12.4156 15.2706 13.2045 15.0409L21.1712 12.7214C21.9916 12.4825 22.6963 11.995 23.2091 11.3116C24.1196 10.0982 23.993 9.01298 23.993 7.83338C23.993 6.51663 22.9218 5.44534 21.6051 5.44534ZM9.08497 3.3625C9.08497 3.21077 9.20842 3.08738 9.36014 3.08738H14.6375C14.7893 3.08738 14.9127 3.21082 14.9127 3.3625V5.44534H9.08497V3.3625Z' fill='#E91018')
                        path(d='M21.5983 15.4468C13.0053 17.9487 13.1165 17.9993 12.0001 17.9993C10.8916 17.9993 11.1546 17.9952 2.40186 15.4469C1.479 15.1781 0.661689 14.6828 0.00585938 14V21.3103C0.00585938 22.627 1.0771 23.6983 2.39391 23.6983H21.6063C22.923 23.6983 23.9943 22.627 23.9943 21.3103V14C23.3385 14.6828 22.5212 15.1781 21.5983 15.4468Z' fill='#E91018')
                    defs
                        clippath#clip0
                            rect(fill='white')
                .advantages-video__item-title 
                    p Стійкі матеріали
            .advantages-video__item-text.content 
                p Lorem Ipsum є псевдо- латинський текст використовується у веб - дизайні, типографіка, верстка, і друку замість англійської підкреслити елементи дизайну над змістом. Це також називається заповнювач ( або наповнювач) текст.
        .advantages-video__item 
            .advantages-video__item-top
                svg.advantages-video__item-icon(viewBox='0 0 24 21' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M23.8097 5.17712C23.6625 5.01763 19.3737 0.371788 19.2206 0.205919C18.9674 -0.0683581 18.5571 -0.0686394 18.3036 0.205075L16.6044 2.03976C16.459 2.04173 14.2663 1.177 12.4623 3.13143L7.91957 8.05267C7.66613 8.32723 7.66613 8.77235 7.91957 9.04691C9.1849 10.4177 11.2433 10.4168 12.5078 9.04691L13.1746 8.32461C14.2936 9.06284 15.7133 8.99469 16.766 8.16539L19.4089 11.0287C19.688 11.331 19.9095 11.6792 20.0678 12.0565C20.9561 10.9199 21.6085 9.59073 21.9849 8.14154L23.8089 6.17257C24.0641 5.89609 24.062 5.45131 23.8097 5.17712Z' fill='#E91018')
                    path(d='M14.6853 10.8991C13.7032 11.32 12.6143 11.3537 11.6149 11.0032C9.26957 12.7078 7.16955 13.2224 5.15606 11.0411C4.39548 10.2172 4.39505 8.8828 5.15606 8.05838L9.31976 3.54771L7.43433 3.15541L5.69686 1.27222C5.4429 0.997099 5.03189 0.998505 4.7788 1.27222L0.18982 6.24361C-0.0632732 6.51826 -0.0632732 6.96352 0.18982 7.23817C1.3216 8.46379 2.16135 10.0395 2.55505 11.6738C2.58274 11.7432 3.1841 14.9894 5.879 17.4514L7.88038 19.2807C8.99052 20.2959 10.5649 20.3769 11.7512 19.5338L16.3358 16.2778C17.3678 15.5459 17.5192 13.9696 16.6452 13.0227L14.6853 10.8991Z' fill='#E91018')
                .advantages-video__item-title 
                    p Надійність
            .advantages-video__item-text.content 
                p Lorem Ipsum є псевдо- латинський текст використовується у веб - дизайні, типографіка, верстка, і друку замість англійської підкреслити елементи дизайну над змістом. Це також називається заповнювач ( або наповнювач) текст.
        .advantages-video__item 
            .advantages-video__item-top
                svg.advantages-video__item-icon.advantages-video__item-icon--28(viewBox='0 0 28 27' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M25.3212 0.333942C25.09 0.111252 24.8165 0 24.5006 0H3.50087C3.18469 0 2.91123 0.111252 2.68029 0.333942C2.44949 0.556509 2.33398 0.820202 2.33398 1.1249V14.6247C2.33398 15.6326 2.5374 16.6315 2.94456 17.6219C3.35153 18.6121 3.85592 19.4911 4.45756 20.2587C5.0592 21.0264 5.77608 21.7735 6.60853 22.5C7.44111 23.2269 8.2097 23.8299 8.91446 24.3107C9.61921 24.7911 10.3545 25.2453 11.1201 25.6726C11.8857 26.1001 12.4297 26.3907 12.7516 26.5428C13.0736 26.6954 13.3318 26.8125 13.5262 26.8942C13.6721 26.9646 13.83 27 14.0003 27C14.1709 27 14.3285 26.9646 14.4746 26.8942C14.6688 26.8125 14.9271 26.6954 15.2489 26.5428C15.5708 26.3907 16.115 26.1001 16.8807 25.6726C17.6458 25.2453 18.3814 24.7911 19.086 24.3107C19.7911 23.8298 20.5595 23.2268 21.3922 22.5C22.2242 21.7735 22.9414 21.0264 23.5429 20.2587C24.1445 19.4911 24.6487 18.6121 25.0565 17.6219C25.4637 16.6315 25.667 15.6326 25.667 14.6247V1.1249C25.6669 0.820018 25.5515 0.55657 25.3212 0.333942ZM22.167 14.6247C22.167 16.6872 20.7389 18.7964 17.8832 20.9527C16.7408 21.8196 15.4465 22.6226 14.0004 23.3609V3.3747H22.167V14.6247Z' fill='#E91018')
                .advantages-video__item-title 
                    p Еко турбота
            .advantages-video__item-text.content 
                p Lorem Ipsum є псевдо- латинський текст використовується у веб - дизайні, типографіка, верстка, і друку замість англійської підкреслити елементи дизайну над змістом. Це також називається заповнювач ( або наповнювач) текст.