section.connection#scroll-down
    img.connection__bg(src='assets/images/png/connection-bg.png' alt='')
    .center-wrap 
        p.connection__subtitle Є ідеї для проекту?
        .connection__title
            a.simple-title(href="contact.html") Зв’яжіться з нами
