section.contact#contact
	img.contact__bg(src='assets/images/png/contact-bg.png' alt='')
	.contact__wrap 
		.contact__form
			h2.contact__form-title Зворотній зв’язок
			form.inputs(action='' autocomplete="off")
				.inputs__wrap 
					.inputs__left
						.inputs__field-wrap
							input.inputs__field(type='text' id='text' name='text' placeholder='Введіть ваш ім’я' autocomplete='off' required='' minlength='2')
							label.inputs__label(for='text')
								span.inputs__content
									| Ім’я
						.inputs__field-wrap
							input.inputs__field(type='email' id='email' name='email' placeholder='Введіть ваш email' autocomplete='off' required='' )
							label.inputs__label(for='email')
								span.inputs__content
									| email
						.inputs__field-wrap
							input.inputs__field(type='tel' id='tel' name='tel' placeholder='Введіть ваш телефон' autocomplete='off' required='' )
							label.inputs__label(for='tel')
								span.inputs__content
									| телефон
					.inputs__right
						.inputs__field-wrap.inputs__field-wrap--textarea
							textarea.inputs__field(name='textarea' required='' placeholder='Текст повідомлення')
							label.inputs__label(for='')
								span.inputs__content Повідомлення
				.inputs__btn
					button.btn(type='submit' id='button')
						span.btn__title(for='button') надіслати
						svg(viewBox='0 0 30 18' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M21.0509 0L19.5975 1.46177L26.0652 7.96639H0V10L26.0652 10.0337L19.5975 16.5382L21.0509 18L30 8.99996L21.0509 0Z' fill='white')

