footer.footer
    img.footer__bg(src='assets/images/svg/footer-bg.svg' alt='')
    .center-wrap
        .footer__wrap
            .footer__left
                .footer__item
                    .footer__item-row
                        .footer__item-title Телефон
                        a(href="tel:+3809765987111").footer__item-link + 38 097 65 98 7111
                    .footer__item-row
                        .footer__item-title Адреса
                        p.footer__item-text Adress will be right here
                .footer__item
                    .footer__item-row
                        .footer__item-title Email
                        a(href="mailto:email@email.com").footer__item-link email@email.com
                    .footer__item-row
                        .footer__item-title Cоцмережі
                        .footer__item-socials 
                            .socials
                                a.socials__link.socials__link--youtube(href='' target='_blank')
                                    svg(viewBox='0 0 21 19' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(fill-rule='evenodd' clip-rule='evenodd' d='M5.9434 18.4941C2.66095 18.4941 0 16.1507 0 13.2599V5.23419C0 2.34343 2.66095 0 5.9434 0H15.0566C18.3391 0 21 2.34343 21 5.23419V13.26C21 16.1507 18.3391 18.4941 15.0566 18.4941H5.9434ZM13.8432 8.11989C14.4045 8.46577 14.4045 9.33047 13.8432 9.67635L8.79127 12.7893C8.22995 13.1352 7.5283 12.7028 7.5283 12.011V5.78521C7.5283 5.09345 8.22995 4.6611 8.79127 5.00698L13.8432 8.11989Z')
                                a.socials__link.socials__link--facebook(href='' target='_blank')
                                    svg(viewBox='0 0 13 21' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M13 7.86208H8.66667V4.71725C8.66667 3.84927 9.4432 3.93104 10.4 3.93104H12.1333V0H8.66667C5.79453 0 3.46667 2.11175 3.46667 4.71725V7.86208H0V11.7931H3.46667V20.4414H8.66667V11.7931H11.2667L13 7.86208Z')

                                a.socials__link.socials__link--twit(href='' target='_blank')
                                    svg(viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(fill-rule='evenodd' clip-rule='evenodd' d='M5.6604 19.4678C2.53418 19.4678 0 17.001 0 13.958V5.50974C0 2.46679 2.53418 0 5.6604 0H14.3396C17.4658 0 20 2.46679 20 5.50974V13.958C20 17.001 17.4658 19.4678 14.3396 19.4678H5.6604ZM15 10.9506C15 13.8626 12.5749 16.2231 9.58333 16.2231C6.5918 16.2231 4.16667 13.8626 4.16667 10.9506C4.16667 8.03869 6.5918 5.6781 9.58333 5.6781C12.5749 5.6781 15 8.03869 15 10.9506ZM15 6.48926C15.9204 6.48926 16.6667 5.76292 16.6667 4.86694C16.6667 3.97096 15.9204 3.24463 15 3.24463C14.0796 3.24463 13.3333 3.97096 13.3333 4.86694C13.3333 5.76292 14.0796 6.48926 15 6.48926Z')

                .footer__item.footer__item--menu
                    .footer__item-title Меню сайту
                    nav.footer__nav 
                        ul.footer__nav-list 
                            li.footer__nav-item 
                                a(href="about.html").footer__nav-link Про компанію
                            li.footer__nav-item 
                                a(href="objects.html").footer__nav-link Об’єкти
                                    span 12
                            li.footer__nav-item 
                                a(href="services.html").footer__nav-link Послуги
                            li.footer__nav-item 
                                a.footer__nav-link.single-anchors(href="contact.html") Контакти
            .footer__right 
                a(href="/").footer__logo
                    img(src='assets/images/svg/logo-white.svg' alt='')
                .footer__right-text 
                    p Lorem Ipsum є псевдо- латинський текст використовується у веб - дизайні, типографіка, верстка, і друку замість англійської підкреслити елементи дизайну
                    p над змістом.
        .footer__wrap.footer__wrap--bottom
            .footer__left
                .footer__item
                    a.footer__wrap-link(href="#") Додаткові сторінки
                .footer__item
                    a.footer__wrap-link(href="#") Додаткові сторінки
                .footer__item
                    a.footer__wrap-link(href="#") Додаткові сторінки
            .footer__right
                p.footer__copyr terraprof © 2021

