section.history
    .history__line
        img(src='assets/images/svg/history-img.svg' alt='')
    .history__wrap
        .history__left
            h2.small-title.history__title Історія
            .swiper-button
                .slider-btn--prev.slider-btn
                    svg(viewbox='0 0 18 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M6.03061 11.6804L7.06435 10.6792L2.79866 6.54815L18 6.54815L18 5.13227L2.79866 5.13227L7.06435 1.00115L6.03061 8.88819e-07L2.43189e-06 5.84021L6.03061 11.6804Z')
                .slider-btn--next.slider-btn
                    svg(viewbox='0 0 18 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M11.9694 0L10.9357 1.00118L15.2013 5.13227H0V6.54815H15.2013L10.9357 10.6793L11.9694 11.6804L18 5.84021L11.9694 0Z')
            .history__text.content 
                p Lorem Ipsum є псевдо- латинський текст використовується у веб - дизайні, типографіка, верстка, і друку замість 
        .history__right
            .history__line.history__line--center
                img(src='assets/images/svg/history-img.svg' alt='')
            .history-slider
                .history-slider__line
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            .history-slider__item 
                                .history-slider__box
                                    .history-slider__box-circle
                                    .history-slider__box-date лютий 2021
                                    .history-slider__box-title Lorem Ipsum Dolor
                                    .history-slider__box-img 
                                        div
                                            img(src="assets/images/png/history-slider-img1.png" alt="")
                                .history-slider__box.history-slider__box--hidden 
                                    .history-slider__box-date лютий 2021
                                    .history-slider__box-title Lorem Ipsum Dolor
                                    .history-slider__box-img 
                                        div
                                            img(src="assets/images/png/history-slider-img1.png" alt="")
                        .swiper-slide
                            .history-slider__item.history-slider__item--reverse 
                                .history-slider__box.history-slider__box--hidden 
                                    .history-slider__box-date березень 2021
                                    .history-slider__box-title Lorem Ipsum Dolor
                                    .history-slider__box-img 
                                        div
                                            img(src="assets/images/png/history-slider-img1.png" alt="") 
                                .history-slider__box.history-slider__box--bottom
                                    .history-slider__box-circle
                                    .history-slider__box-img 
                                        div
                                            img(src="assets/images/png/history-slider-img2.png" alt="")
                                    .history-slider__box-date березень 2021
                                    .history-slider__box-title Lorem Ipsum Dolor
                        .swiper-slide
                            .history-slider__item 
                                .history-slider__box
                                    .history-slider__box-circle 
                                    .history-slider__box-date  квітень 2021
                                    .history-slider__box-title Lorem Ipsum Dolor
                                    .history-slider__box-img 
                                        div
                                            img(src="assets/images/png/history-slider-img3.png" alt="")
                                .history-slider__box.history-slider__box--hidden
                                    .history-slider__box-date  квітень 2021
                                    .history-slider__box-title Lorem Ipsum Dolor
                                    .history-slider__box-img 
                                        div
                                            img(src="assets/images/png/history-slider-img1.png" alt="")
                        .swiper-slide
                            .history-slider__item.history-slider__item--reverse
                                .history-slider__box.history-slider__box--hidden
                                    .history-slider__box-date травень 2021
                                    .history-slider__box-title Lorem Ipsum Dolor
                                    .history-slider__box-img 
                                        div
                                            img(src="assets/images/png/history-slider-img1.png" alt="")
                                .history-slider__box.history-slider__box--bottom
                                    .history-slider__box-circle
                                    .history-slider__box-img 
                                        div
                                            img(src="assets/images/png/history-slider-img4.png" alt="")
                                    .history-slider__box-date травень 2021
                                    .history-slider__box-title Lorem Ipsum Dolor


