section.information-object
    .wrap.wrap--1540
        .information-object__scroll
            a.scroll-down.single-anchors(href='scroll-down')
                .scroll-down__text 
                    | Гортай вниз
                .scroll-down__scrolldown
                    .scroll-down__line 
        h2.information-object__title Інформація про об’єкт
        .information-object__wrap
            .information-object__left
                .information-object__left-info
                    .information-object__left-row 
                        .information-object__left-box
                            p.information-object__left-title архітектор
                            p.information-object__left-descr Микола Бондаренко
                        .information-object__left-box
                            p.information-object__left-title рік
                            p.information-object__left-descr 2019-2021
                    .information-object__left-row 
                        .information-object__left-box
                            p.information-object__left-title архітектор
                            p.information-object__left-descr Микола Бондаренко
                        .information-object__left-box
                            p.information-object__left-title рік
                            p.information-object__left-descr 2019-2021
                .information-object__left-text.content
                    p Lorem Ipsum є псевдо- латинський текст використовується у веб - дизайні, типографіка, верстка, і друку замість англійської підкреслити елементи дизайну над змістом. Це також називається заповнювач ( або наповнювач) текст. Це зручний інструмент для макетів. Це допомагає намітити візуальні елементи в документ або презентацію, наприклад, друкарня, шрифт, або макет. 
                    p Це допомагає намітити візуальні елементи в документ або презентацію, наприклад, друкарня, шрифт, або макет.
            .information-object__right
                .information-object__img
                    div
                        img(src="assets/images/png/information-object__img.png" alt="")
        .information-object__wrap.information-object__wrap--reverse
            .information-object__left
                .information-object__left-text.content
                    p Lorem Ipsum є псевдо- латинський текст використовується у веб - дизайні, типографіка, верстка, і друку замість англійської підкреслити елементи дизайну над змістом. Це також називається заповнювач ( або наповнювач) текст. Це зручний інструмент для макетів. Це допомагає намітити візуальні елементи в документ або презентацію, наприклад, друкарня, шрифт, або макет. 
                    p Це допомагає намітити візуальні елементи в документ або презентацію, наприклад, друкарня, шрифт, або макет.
            .information-object__right
                .information-object__img
                    div 
                        img(src="assets/images/png/information-object__img.png" alt="")