section.main-screen#main-screen
    img.main-screen__bg(src='assets/images/png/main-screen-bg.png' alt='')
    span.line.line--horiz  
    .center-wrap
        .title-line
            .main-screen__title
              h2.simple-title Маркетинговий Заголовок 
            p.main-screen__text буде знаходитись cаме тут у один або два рядки
            //- span.line
    .main-screen__body 
        .main-screen__top
            .main-screen__top-img.img-parallax
                div
                    img(src="assets/images/png/main-screen-img1.png" alt="")
        .main-screen__bottom
            .main-screen__bottom-img.main-screen__bottom-img--left.img-parallax
                div
                    img(src="assets/images/png/main-screen-img2.png" alt="")
            .main-screen__bottom-img.main-screen__bottom-img--center.img-parallax
                div
                    img(src="assets/images/png/main-screen-img3.png" alt="")
            .main-screen__bottom-img.main-screen__bottom-img--right.img-parallax
                div
                    img(src="assets/images/png/main-screen-img4.png" alt="")
