section.main-screen#main-screen
    img.main-screen__bg(src='assets/images/png/main-screen-bg.png' alt='')
    span.line.line--horiz  
    .center-wrap
        .title-line
            .main-screen__title
                h2.simple-title Маркетинговий Заголовок 
            p.main-screen__text буде знаходитись cаме тут у один або два рядки
            span.line
    .main-screen__body 
        a.main-screen__top.video-wrap(data-fancybox href='https://youtu.be/GBcJcdNqhhw')
            .main-screen__top-img.img-parallax
                div
                    img(src="assets/images/png/main-screen-img1.png" alt="")
                    video.objects__video(muted loop)
                        source(type="video/mp4" src="assets/images/video.mp4")
                .video
                    .video__play.video__play--static
                        svg(viewBox='0 0 23 31' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M22.4831 14.7759C23.0515 15.1741 23.0515 16.0159 22.4831 16.414L2.23696 30.5963C1.57421 31.0605 0.663224 30.5864 0.663224 29.7773L0.663225 1.41268C0.663225 0.603509 1.57421 0.129391 2.23696 0.593641L22.4831 14.7759Z')
        .main-screen__bottom
            .main-screen__bottom-img.main-screen__bottom-img--left.img-parallax
                div
                    img(src="assets/images/png/main-screen-img2.png" alt="")
            .main-screen__bottom-img.main-screen__bottom-img--center.img-parallax
                div
                    img(src="assets/images/png/main-screen-img3.png" alt="")
            .main-screen__bottom-img.main-screen__bottom-img--right.img-parallax
                div
                    img(src="assets/images/png/main-screen-img4.png" alt="")
