section.map
    .center-wrap
        .map__content
            span.line 
            h2.simple-title Контакти
    .map__body 
        div
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2575.191232437406!2d23.98835941570798!3d49.80127237939112!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ae7a537b1d583%3A0x6c608c72faf9ee00!2z0LLRg9C70LjRhtGPINCG0LLQsNC90LAg0J_Rg9C70Y7RjywgMjMsINCb0YzQstGW0LIsINCb0YzQstGW0LLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwgNzkwMDA!5e0!3m2!1suk!2sua!4v1624274668096!5m2!1suk!2sua' style='border:0;' allowfullscreen='' loading='lazy')