section.objects
    .title-line
        .center-wrap
            .objects__title
                .oh-row
                    h2.oh.simple-title Наші об’єкти
    .objects__list-wrap
        .wrap.wrap--1540 
            .objects__list
                a.objects__list-link(href="") Всі
                a.objects__list-link(href="") Приватне житло
                a.objects__list-link(href="") Новобудови
                a.objects__list-link(href="") Інфраструктура
                a.objects__list-link(href="") Назва категорії
    .wrap.wrap--1540
        .objects__wrap
            .objects__scroll
                a.scroll-down.scroll-down--static(href='')
                    //- .scroll-down__text 
                    //-     | Гортай вниз
                    .scroll-down__scrolldown
                        .scroll-down__line
                    span
            .objects__wrap-img
                .objects__item
                    a(href="one-object.html").our-projects__box.video-img
                        iframe.video-img__video(width='100%' height='100%' data-src='https://www.youtube.com/embed/YRTrS7CJ3uM?autoplay=1&mute=1&showinfo=0' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                        .our-projects__img.img-parallax
                            div
                                img(src="assets/images/png/objects-img1.png" alt="")
                        .our-projects__object
                            .object
                                .object__top
                                    .object__type Тип об’єкту
                                    span 
                                    .object__city м.львів
                                .object__title Назва обєкту
                                .object__arrow
                                    svg(viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M9.0509 0L7.59747 1.46177L14.0652 7.96639L3.48222e-07 7.96639L3.48222e-07 10.0337L14.0652 10.0337L7.59747 16.5382L9.0509 18L18 8.99996L9.0509 0Z')
                .objects__item
                    a(href="one-object.html").our-projects__box
                        .our-projects__img.img-parallax
                            div
                                img(src="assets/images/png/objects-img2.png" alt="")
                        .our-projects__object
                            .object
                                .object__top
                                    .object__type Тип об’єкту
                                    span 
                                    .object__city м.львів
                                .object__title Назва обєкту
                                .object__arrow
                                    svg(viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M9.0509 0L7.59747 1.46177L14.0652 7.96639L3.48222e-07 7.96639L3.48222e-07 10.0337L14.0652 10.0337L7.59747 16.5382L9.0509 18L18 8.99996L9.0509 0Z')
                .objects__item
                    a(href="one-object.html").our-projects__box.our-projects__box--center
                        .our-projects__img.img-parallax
                            div
                                img(src="assets/images/png/objects-img3.png" alt="")
                        .our-projects__object
                            .object
                                .object__top
                                    .object__type Тип об’єкту
                                    span 
                                    .object__city м.львів
                                .object__title Назва обєкту
                                .object__arrow
                                    svg(viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M9.0509 0L7.59747 1.46177L14.0652 7.96639L3.48222e-07 7.96639L3.48222e-07 10.0337L14.0652 10.0337L7.59747 16.5382L9.0509 18L18 8.99996L9.0509 0Z')
                .objects__item
                    a.our-projects__box.our-projects__box--right.video-wrap(data-fancybox data-type="iframe" data-src="https://www.youtube.com/embed/YRTrS7CJ3uM" href="javascript:;")
                        .our-projects__img.our-projects__img--video.img-parallax
                            div
                                img(src="assets/images/png/objects-img4.png" alt="")
                                video.objects__video(muted loop)
                                    source(type="video/mp4" src="assets/images/video.mp4")
                        .our-projects__object
                            .object
                                .object__top
                                    .object__type Тип об’єкту
                                    span 
                                    .object__city м.львів
                                .object__title Назва обєкту
                                .object__arrow
                                    svg(viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M9.0509 0L7.59747 1.46177L14.0652 7.96639L3.48222e-07 7.96639L3.48222e-07 10.0337L14.0652 10.0337L7.59747 16.5382L9.0509 18L18 8.99996L9.0509 0Z')
                .objects__item
                    a(href="one-object.html").our-projects__box
                        .our-projects__img.img-parallax
                            div
                                img(src="assets/images/png/objects-img5.png" alt="")
                        .our-projects__object
                            .object
                                .object__top
                                    .object__type Тип об’єкту
                                    span 
                                    .object__city м.львів
                                .object__title Назва обєкту
                                .object__arrow
                                    svg(viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M9.0509 0L7.59747 1.46177L14.0652 7.96639L3.48222e-07 7.96639L3.48222e-07 10.0337L14.0652 10.0337L7.59747 16.5382L9.0509 18L18 8.99996L9.0509 0Z')
                .objects__item
                    a(href="one-object.html").our-projects__box
                        .our-projects__img.img-parallax
                            div
                                img(src="assets/images/png/objects-img6.png" alt="")
                        .our-projects__object
                            .object
                                .object__top
                                    .object__type Тип об’єкту
                                    span 
                                    .object__city м.львів
                                .object__title Назва обєкту
                                .object__arrow
                                    svg(viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M9.0509 0L7.59747 1.46177L14.0652 7.96639L3.48222e-07 7.96639L3.48222e-07 10.0337L14.0652 10.0337L7.59747 16.5382L9.0509 18L18 8.99996L9.0509 0Z')