section.objects
    .title-line 
        span.line
        .center-wrap
            .objects__title
                h2.simple-title 
                  .oh-row
                    .oh Наші об’єкти
        .wrap.wrap--1540
            .objects__filter 
                p Сортувати за категорією
                svg(viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M18 9.0509L16.5382 7.59747L10.0336 14.0652L10.0336 -3.48222e-07L7.96633 -4.38586e-07L7.96633 14.0652L1.46177 7.59747L-3.95627e-07 9.0509L9.00003 18L18 9.0509Z')
    .objects__list-wrap
        .wrap.wrap--1540 
            .objects__list
                a.objects__list-link(href="") Всі
                a.objects__list-link(href="") Приватне житло
                a.objects__list-link(href="") Новобудови
                a.objects__list-link(href="") Інфраструктура
                a.objects__list-link(href="") Назва категорії
    .wrap.wrap--1540
        .objects__wrap
            .objects__scroll
                a.scroll-down(href='')
                    .scroll-down__text 
                        | Гортай вниз
                    .scroll-down__scrolldown
                        .scroll-down__line
            .objects__wrap-left
                a(href="one-object.html").our-projects__box.our-projects__box--100
                    .our-projects__img.img-parallax
                        div
                            img(src="assets/images/png/objects-img1.png" alt="")
                    .our-projects__object
                        .object
                            .object__top
                                .object__type Тип об’єкту
                                span 
                                .object__city м.львів
                            .object__title Назва обєкту
                            .object__arrow
                                svg(viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M9.0509 0L7.59747 1.46177L14.0652 7.96639L3.48222e-07 7.96639L3.48222e-07 10.0337L14.0652 10.0337L7.59747 16.5382L9.0509 18L18 8.99996L9.0509 0Z')
                a(href="one-object.html").our-projects__box.our-projects__box--68.our-projects__box--center
                    .our-projects__img.img-parallax
                        div
                            img(src="assets/images/png/objects-img3.png" alt="")
                    .our-projects__object
                        .object
                            .object__top
                                .object__type Тип об’єкту
                                span 
                                .object__city м.львів
                            .object__title Назва обєкту
                            .object__arrow
                                svg(viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M9.0509 0L7.59747 1.46177L14.0652 7.96639L3.48222e-07 7.96639L3.48222e-07 10.0337L14.0652 10.0337L7.59747 16.5382L9.0509 18L18 8.99996L9.0509 0Z')
                a(href="one-object.html").our-projects__box.our-projects__box--100
                    .our-projects__img.img-parallax
                        div
                            img(src="assets/images/png/objects-img5.png" alt="")
                    .our-projects__object
                        .object
                            .object__top
                                .object__type Тип об’єкту
                                span 
                                .object__city м.львів
                            .object__title Назва обєкту
                            .object__arrow
                                svg(viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M9.0509 0L7.59747 1.46177L14.0652 7.96639L3.48222e-07 7.96639L3.48222e-07 10.0337L14.0652 10.0337L7.59747 16.5382L9.0509 18L18 8.99996L9.0509 0Z')
            .objects__wrap-right
                a(href="one-object.html").our-projects__box.our-projects__box--100
                    .our-projects__img.img-parallax
                        div
                            img(src="assets/images/png/objects-img2.png" alt="")
                    .our-projects__object
                        .object
                            .object__top
                                .object__type Тип об’єкту
                                span 
                                .object__city м.львів
                            .object__title Назва обєкту
                            .object__arrow
                                svg(viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M9.0509 0L7.59747 1.46177L14.0652 7.96639L3.48222e-07 7.96639L3.48222e-07 10.0337L14.0652 10.0337L7.59747 16.5382L9.0509 18L18 8.99996L9.0509 0Z')
                a(href="one-object.html").our-projects__box.our-projects__box--63.our-projects__box--right
                    .our-projects__img.img-parallax
                        div
                            img(src="assets/images/png/objects-img4.png" alt="")
                    .our-projects__object
                        .object
                            .object__top
                                .object__type Тип об’єкту
                                span 
                                .object__city м.львів
                            .object__title Назва обєкту
                            .object__arrow
                                svg(viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M9.0509 0L7.59747 1.46177L14.0652 7.96639L3.48222e-07 7.96639L3.48222e-07 10.0337L14.0652 10.0337L7.59747 16.5382L9.0509 18L18 8.99996L9.0509 0Z')
                a(href="one-object.html").our-projects__box.our-projects__box--100
                    .our-projects__img.img-parallax
                        div
                            img(src="assets/images/png/objects-img6.png" alt="")
                    .our-projects__object
                        .object
                            .object__top
                                .object__type Тип об’єкту
                                span 
                                .object__city м.львів
                            .object__title Назва обєкту
                            .object__arrow
                                svg(viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M9.0509 0L7.59747 1.46177L14.0652 7.96639L3.48222e-07 7.96639L3.48222e-07 10.0337L14.0652 10.0337L7.59747 16.5382L9.0509 18L18 8.99996L9.0509 0Z')

