section.other-projects
    .wrap
        .other-projects__title
            h2.simple-title.simple-title--thin Інші проекти
        .other-projects__wrap 
            .other-projects__content
                h3.other-projects__content-title Назва проекту
                .other-projects__content-text.content 
                    p Lorem Ipsum є псевдо- латинський текст використовується у веб - дизайні, типографіка, верстка, і друку замість.
                a(href="objects.html").other-projects__content-link Переглянути
            .other-projects__img 
                div
                    img(src="assets/images/png/other-projects__img1.png" alt="")
        .other-projects__wrap.other-projects__wrap--reverse
            .other-projects__content
                h3.other-projects__content-title Project name
                .other-projects__content-text.content 
                    p Lorem Ipsum є псевдо- латинський текст використовується у веб - дизайні, типографіка, верстка, і друку замість.
                a(href="objects.html").other-projects__content-link Переглянути
            .other-projects__img 
                div
                    img(src="assets/images/png/other-projects__img2.png" alt="")