section.our-projects
    .wrap
        .small-title.our-projects__title
            .oh-row 
                .oh Наші проекти
        .our-projects__wrap
            .our-projects__left
                .our-projects__box.our-projects__box--52
                    a(href="objects.html").our-projects__img.img-parallax 
                        div
                            img(src="assets/images/png/our-projects-img1.png" alt="")
                    .our-projects__object
                        .object
                            .object__top
                                .object__type Тип об’єкту
                                span 
                                .object__city м.львів
                            .object__title Назва обєкту
                            .object__arrow
                                svg(viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M9.0509 0L7.59747 1.46177L14.0652 7.96639L3.48222e-07 7.96639L3.48222e-07 10.0337L14.0652 10.0337L7.59747 16.5382L9.0509 18L18 8.99996L9.0509 0Z')
                .our-projects__box.our-projects__box--66
                    a(href="objects.html").our-projects__img.img-parallax
                        div
                            img(src="assets/images/png/our-projects-img2.png" alt="")
                    .our-projects__object
                        .object
                            .object__top
                                .object__type Тип об’єкту
                                span 
                                .object__city м.львів
                            .object__title Назва обєкту
                            .object__arrow
                                svg(viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M9.0509 0L7.59747 1.46177L14.0652 7.96639L3.48222e-07 7.96639L3.48222e-07 10.0337L14.0652 10.0337L7.59747 16.5382L9.0509 18L18 8.99996L9.0509 0Z') 
            .our-projects__scroll
                a.scroll-down(href='')
                    .scroll-down__text 
                        | Гортай вниз
                    .scroll-down__scrolldown
                        .scroll-down__line
            .our-projects__right
                .our-projects__box.our-projects__box--59
                    a(href="objects.html").our-projects__img.img-parallax 
                        div
                            img(src="assets/images/png/our-projects-img3.png" alt="")
                    .our-projects__object
                        .object
                            .object__top
                                .object__type Тип об’єкту
                                span 
                                .object__city м.львів
                            .object__title Назва обєкту
                            .object__arrow
                                svg(viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M9.0509 0L7.59747 1.46177L14.0652 7.96639L3.48222e-07 7.96639L3.48222e-07 10.0337L14.0652 10.0337L7.59747 16.5382L9.0509 18L18 8.99996L9.0509 0Z')
                .our-projects__box.our-projects__box--56
                    a(href="objects.html").our-projects__img.img-parallax
                        div
                            img(src="assets/images/png/our-projects-img4.png" alt="")
                    .our-projects__object
                        .object
                            .object__top
                                .object__type Тип об’єкту
                                span 
                                .object__city м.львів
                            .object__title Назва обєкту
                            .object__arrow
                                svg(viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M9.0509 0L7.59747 1.46177L14.0652 7.96639L3.48222e-07 7.96639L3.48222e-07 10.0337L14.0652 10.0337L7.59747 16.5382L9.0509 18L18 8.99996L9.0509 0Z')
                a(href="objects.html").our-projects__btn
                    .our-projects__btn-title всі проекти
                    svg(viewBox='0 0 30 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M21.0509 0L19.5975 1.46177L26.0652 7.96639H0V10L26.0652 10.0337L19.5975 16.5382L21.0509 18L30 8.99996L21.0509 0Z')


