section.partners
    img.partners__bg(src='assets/images/png/partners-bg.png' alt='')
    .wrap 
        h2.small-title.partners__title Наші партнери
        .partners-slider 
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .partners-slider__item
                            div
                                img(src='assets/images/svg/partners-logo1.svg' alt='')
                    .swiper-slide
                        .partners-slider__item
                            div 
                                img(src='assets/images/svg/partners-logo2.svg' alt='')
                    .swiper-slide
                        .partners-slider__item
                            div 
                                img(src='assets/images/svg/partners-logo3.svg' alt='')
                    .swiper-slide
                        .partners-slider__item
                            div 
                                img(src='assets/images/svg/partners-logo4.svg' alt='')

            .swiper-button
                .slider-btn--prev.slider-btn
                    svg(viewbox='0 0 18 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M6.03061 11.6804L7.06435 10.6792L2.79866 6.54815L18 6.54815L18 5.13227L2.79866 5.13227L7.06435 1.00115L6.03061 8.88819e-07L2.43189e-06 5.84021L6.03061 11.6804Z')
                .slider-btn--next.slider-btn
                    svg(viewbox='0 0 18 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M11.9694 0L10.9357 1.00118L15.2013 5.13227H0V6.54815H15.2013L10.9357 10.6793L11.9694 11.6804L18 5.84021L11.9694 0Z')