section.process-robots
    .wrap
        .process-robots__title
            h2.simple-title.simple-title--thin 
              .oh-row
                .oh Процес роботи
        .process-robots__wrap.toogles.toogles--fade
            .process-robots__list
                .process-robots__list-item
                    .process-robots__list-number 
                        p 01
                        span.process-robots__list-line
                    .toogles__item-title.process-robots__list-title.toogles__item-title--active(data-toogles='1')
                        h3 Назва кроку процесу роботи
                        .process-robots__text.content.process-robots__text--2
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nulla suspendisse mauris, feugiat mi. Semper odio tellus nunc aliquet. Morbi risus mi ac, odio facilisi. Tellus eu felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.  
                            p Duis nulla suspendisse mauris, feugiat mi. Semper odio tellus nunc aliquet. Morbi risus mi ac, odio facilisi. Tellus eu felis. nunc aliquet. Morbi risus mi ac, odio facilisi. Tellus eu felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                .process-robots__list-item
                    .process-robots__list-number 
                        p 02
                        span.process-robots__list-line
                    .process-robots__list-title.toogles__item-title(data-toogles='2')
                        h3 Назва кроку процесу роботи
                        .process-robots__text.content 
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nulla suspendisse mauris, feugiat mi. Semper odio tellus nunc aliquet. Morbi risus mi ac, odio facilisi. Tellus eu felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.  
                .process-robots__list-item
                    .process-robots__list-number 
                        p 03
                        span.process-robots__list-line
                    .process-robots__list-title.toogles__item-title(data-toogles='3')
                        h3 Назва кроку процесу роботи
                        .process-robots__text.content.process-robots__text--3
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nulla suspendisse mauris, feugiat mi. Semper odio tellus nunc aliquet. Morbi risus mi ac, odio facilisi. Tellus eu felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.  
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nulla suspendisse mauris, feugiat mi. Semper odio tellus nunc aliquet. Morbi risus mi ac, odio facilisi. Tellus eu felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.  
                            p Duis nulla suspendisse mauris, feugiat mi. Semper odio tellus nunc aliquet. Morbi risus mi ac, odio facilisi. Tellus eu felis. nunc aliquet. Morbi risus mi ac, odio facilisi. Tellus eu felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                .process-robots__list-item
                    .process-robots__list-number 
                        p 04
                        span.process-robots__list-line
                    .process-robots__list-title.toogles__item-title(data-toogles='4')
                        h3 Назва кроку процесу роботи
                        .process-robots__text.content.process-robots__text--4
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nulla suspendisse mauris, feugiat mi. Semper odio tellus nunc aliquet. Morbi risus mi ac, odio facilisi. Tellus eu felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.  
                            p Duis nulla suspendisse mauris, feugiat mi. Semper odio tellus nunc aliquet. Morbi risus mi ac, odio facilisi. Tellus eu felis. nunc aliquet. Morbi risus mi ac, odio facilisi. Tellus eu felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            p Duis nulla suspendisse mauris, feugiat mi. Semper odio tellus nunc aliquet. Morbi risus mi ac, odio facilisi. Tellus eu felis. nunc aliquet. Morbi risus mi ac, odio facilisi. Tellus eu felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            p Duis nulla suspendisse mauris, feugiat mi. Semper odio tellus nunc aliquet. Morbi risus mi ac, odio facilisi. Tellus eu felis. nunc aliquet. Morbi risus mi ac, odio facilisi. Tellus eu felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            .process-robots__right
                .toogles__item.toogles__item--active(data-toogles='1')
                    .toogles__item-content(style='display: block;')
                        div
                            .process-robots__img.img-parallax 
                                div
                                    img(src="assets/images/png/process-robots-img1.png" alt="")
                .toogles__item(data-toogles='2')
                    .toogles__item-content
                        div
                            .process-robots__img.img-parallax 
                                div
                                    img(src="assets/images/png/process-robots-img1.png" alt="")
                .toogles__item(data-toogles='3')
                    .toogles__item-content
                        div
                            .process-robots__img.img-parallax 
                                div
                                    img(src="assets/images/png/process-robots-img1.png" alt="")
                .toogles__item(data-toogles='4')
                    .toogles__item-content
                        div
                            .process-robots__img.img-parallax 
                                div
                                    img(src="assets/images/png/process-robots-img1.png" alt="")