section.service-name
    .wrap.wrap--1540
        .oh-row
          .oh.service-name__title 
            h2.simple-title Назва послуги
        .service-name__wrap
            .line
            .service-name__left
                .service-name__content
                    .service-name__content-text.content
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nulla suspendisse mauris, feugiat mi. Semper odio tellus nunc aliquet. Morbi risus mi ac, odio facilisi. Tellus eu felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        p Duis nulla suspendisse mauris, feugiat mi. Semper odio tellus nunc aliquet. Morbi risus mi ac, odio facilisi. Tellus eu felis. nunc aliquet. Morbi risus mi ac, odio facilisi. Tellus eu felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        p Duis nulla suspendisse mauris, feugiat mi. Semper odio tellus nunc aliquet. Morbi risus mi ac, odio facilisi. Tellus eu 
                    .service-name__blockquote
                        p Lorem Ipsum є псевдо- латинський текст використовується у веб - дизайні
                .service-name__img.img-parallax 
                    div
                        img(src="assets/images/png/service-name__img.png" alt="")
            .service-name__right
                .service-name__img.service-name__img--63.img-parallax 
                    div
                        img(src="assets/images/png/service-name__img.png" alt="")
                .service-name__img.service-name__img--52.img-parallax 
                    div
                        img(src="assets/images/png/service-name__img.png" alt="")
