section.services
    .line
    .wrap.wrap--1540
        .services__wrap 
            .services__left
                .services__content
                    .oh-row
                        h2.oh.simple-title.services__title Послуги
                    .services__text.content
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nulla suspendisse mauris, feugiat mi. Semper odio tellus nunc aliquet. Morbi risus mi ac, odio facilisi. Tellus eu felis.
                a(href="one-service.html").services__box
                    .services__img.img-parallax
                        div
                            img(src="assets/images/png/services__img1.png" alt="")
                    .oh-row
                        .oh.services__box-title 
                            p Назва послуги
                a(href="one-service.html").services__box
                    .services__img.services__img--pb103.img-parallax
                        div
                            img(src="assets/images/png/services__img2.png" alt="")
                    .oh-row
                        .oh.services__box-title 
                            p Назва послуги
            .services__columns
                .services__columns-top
                    .services__columns-left
                        a(href="one-service.html").services__box
                            .services__img.services__img--pb200.img-parallax
                                div
                                    img(src="assets/images/png/services__img3.png" alt="")
                            .oh-row
                                .oh.services__box-title 
                                    p Назва послуги
                    .services__columns-right
                        a(href="one-service.html").services__box
                            .services__img.services__img--pb200.img-parallax
                                div
                                    img(src="assets/images/png/services__img4.png" alt="")
                            .oh-row
                                .oh.services__box-title 
                                    p Назва послуги
                        a(href="one-service.html").services__box
                            .services__img.services__img--pb101.img-parallax
                                div
                                    img(src="assets/images/png/services__img5.png" alt="")
                            .oh-row
                                .oh.services__box-title 
                                    p Назва послуги
                .services__columns-center
                    a(href="one-service.html").services__box
                        .services__img.services__img--pb67.img-parallax
                            div
                                img(src="assets/images/png/services__img6.png" alt="")
                        .oh-row
                            .oh.services__box-title 
                                p Назва послуги
                .services__columns-bottom 
                    .line
                    a(href="one-service.html").services__box
                        .services__img.services__img--pb75.img-parallax
                            div
                                img(src="assets/images/png/services__img7.png" alt="")
                        .oh-row
                            .oh.services__box-title 
                                p Назва послуги