section.types-robot
    .wrap 
        .types-robot__title 
            h2.simple-title.simple-title--thin Види робіт на цьому обєкті

        .toogles.toogles--fade.types-robot__wrap
            ul.types-robot__list
                li.types-robot__list-item.toogles__item-title(data-toogles='1') Тут буде назва виду роботи
                li.types-robot__list-item.toogles__item-title(data-toogles='2') Тут буде назва виду роботи
                li.types-robot__list-item.toogles__item-title.toogles__item-title--active(data-toogles='3') Назва виду роботи
                li.types-robot__list-item.toogles__item-title(data-toogles='4') Тут буде назва виду роботи
                li.types-robot__list-item.toogles__item-title(data-toogles='5') Назва виду роботи
            .types-robot__right
                .toogles__item(data-toogles='1')
                    .toogles__item-content
                        div
                            a(href="").types-robot__img 
                                div
                                    img(src="assets/images/png/types-robot__img1.png" alt="")
                .toogles__item(data-toogles='2')
                    .toogles__item-content
                        div
                            a(href="").types-robot__img 
                                div
                                    img(src="assets/images/png/types-robot__img1.png" alt="")
                .toogles__item.toogles__item--active(data-toogles='3')
                    .toogles__item-content(style='display: block;')
                        div
                            a(href="").types-robot__img 
                                div
                                    img(src="assets/images/png/types-robot__img1.png" alt="")
                .toogles__item(data-toogles='4')
                    .toogles__item-content
                        div
                            a(href="").types-robot__img 
                                div
                                    img(src="assets/images/png/types-robot__img1.png" alt="")
                .toogles__item(data-toogles='5')
                    .toogles__item-content
                        div
                            a(href="").types-robot__img 
                                div
                                    img(src="assets/images/png/types-robot__img1.png" alt="")