section.unikalny-projects
    .center-wrap
        .title-line
            span.line
            .unikalny-projects__title
                h2.simple-title.simple-title--thin 
                  .oh-row 
                    .oh Унікальні 
                  .oh-row 
                    .oh Проекти під ключ
            h3.unikalny-projects__subtitle.subtitle-line 
              .oh-row 
                  .oh Будь-якої складності
            .unikalny-projects__text.content.content--center
                p Lorem Ipsum є псевдо- латинський текст використовується у веб - дизайні, типографіка, верстка, і друку замість англійської підкреслити елементи дизайну над змістом. Це також називається заповнювач ( або наповнювач) текст.
        .unikalny-projects__slider
            .projects-slider
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            .projects-slider__item 
                                a(href="one-object.html").projects-slider__img
                                    div
                                        img(src="assets/images/png/projects-slider-img1.png" alt="")
                                .projects-slider__img-small 
                                    div
                                        img(src="assets/images/png/projects-slider-imgSmall1.png" alt="")
                                .projects-slider__object
                                    .object
                                        .oh-row
                                          .oh.object__top
                                            .object__type Тип об’єкту
                                            span 
                                            .object__city м.львів
                                        .oh-row
                                          .oh
                                            .object__title Назва обєкту

                        .swiper-slide
                            .projects-slider__item 
                                a(href="one-object.html").projects-slider__img
                                    div
                                        img(src="assets/images/png/projects-slider-img1.png" alt="")
                                .projects-slider__img-small 
                                    div
                                        img(src="assets/images/png/projects-slider-imgSmall1.png" alt="")
                                .projects-slider__object
                                    .object
                                        .oh-row
                                          .oh.object__top
                                            .object__type Тип об’єкту
                                            span 
                                            .object__city м.львів
                                        .oh-row
                                          .oh
                                            .object__title Назва обєкту
                        .swiper-slide
                            .projects-slider__item 
                                a(href="one-object.html").projects-slider__img
                                    div
                                        img(src="assets/images/png/projects-slider-img1.png" alt="")
                                .projects-slider__img-small 
                                    div
                                        img(src="assets/images/png/projects-slider-imgSmall1.png" alt="")
                                .projects-slider__object
                                    .object
                                        .oh-row
                                          .oh.object__top
                                            .object__type Тип об’єкту
                                            span 
                                            .object__city м.львів
                                        .oh-row
                                          .oh
                                            .object__title Назва обєкту
                        .swiper-slide
                            .projects-slider__item 
                                a(href="one-object.html").projects-slider__img
                                    div
                                        img(src="assets/images/png/projects-slider-img1.png" alt="")
                                .projects-slider__img-small 
                                    div
                                        img(src="assets/images/png/projects-slider-imgSmall1.png" alt="")
                                .projects-slider__object
                                    .object
                                        .oh-row
                                          .oh.object__top
                                            .object__type Тип об’єкту
                                            span 
                                            .object__city м.львів
                                        .oh-row
                                          .oh
                                            .object__title Назва обєкту
                .projects-slider__box
                    .swiper-button
                        .slider-btn--prev.slider-btn
                            svg(viewbox='0 0 18 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M6.03061 11.6804L7.06435 10.6792L2.79866 6.54815L18 6.54815L18 5.13227L2.79866 5.13227L7.06435 1.00115L6.03061 8.88819e-07L2.43189e-06 5.84021L6.03061 11.6804Z')
                        .slider-btn--next.slider-btn
                            svg(viewbox='0 0 18 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M11.9694 0L10.9357 1.00118L15.2013 5.13227H0V6.54815H15.2013L10.9357 10.6793L11.9694 11.6804L18 5.84021L11.9694 0Z')
                    a(href="objects.html").projects-slider__link Більше об’єктів
