// Font
$primary-f:'Montserrat',
sans-serif;
$secondary-f:'Exo 2',
sans-serif;
$additional-f:'Manrope',
sans-serif;

// Color
$primary-c:#657081;
$secondary-c:#272425;
$danger-light:#D74346;
$danger:#E91018;


// Media
$large_desktop: 1750px;
$large_tablet: 1024px;
$large_mobile: 480px;

$br:4px;