extends ../layout/main

block variables
    - var title = 'Про компанію';
    - var pageClass = 'about-page';

block content

    include ../includes/about
    include ../includes/history
    include ../includes/advantages
    include ../includes/partners
    include ../includes/our-projects
    include ../includes/connection  