extends ../layout/main

block variables
  - var title = 'terraprof';
  - var pageClass = 'index-page';

block content

  include ../includes/main-screen
  include ../includes/unikalny-projects
  include ../includes/connection

//- block script
