extends ../layout/main

block variables
    - var title = 'Одна услуга';
    - var pageClass = 'one-service';

block content
    include ../includes/main-img
    include ../includes/service-name
    include ../includes/process-robots
    +gallery({})
    include ../includes/connection

//- block script
