extends ../layout/main

block variables
    - var title = 'Послуги';
    - var pageClass = 'services-page';

block content
    include ../includes/services
    include ../includes/advantages-video
    include ../includes/other-projects
    include ../includes/connection

//- block script
